.layout-complex {
  width: 100%;
  height:100%;
  display: grid;
  justify-content: center;

  &__section-interes {
    padding: 25px;

    grid-template-areas:
      "area1 area2 area2"
      "area1 area3 area4"
      "area1 area3 area4";

    grid-template-rows: 250px 125px 250px;
    grid-template-columns: 288px 288px 280px;
    grid-gap: 25px;
  }

  &__section-cliente {

    padding: 25px;


    grid-template-rows: 200px 200px;
    grid-template-columns: 500px 500px;
    grid-gap: 30px;


  
  }

  @for $i from 1 through 4 {
    &__area#{$i} {
      grid-area: area + $i;
    }
  }
}

.layout-simple {
  display: flex;
  

}
