.layout-complex {
  display: grid;

  &__section-interes {
    justify-content: center;
    padding: 25px;

    grid-template-areas:
      "area1 area2 area2"
      "area1 area3 area4"
      "area1 area3 area4";

    grid-template-rows: 250px 125px 250px;
    grid-template-columns: 288px 288px 280px;
    grid-gap: 25px;
  }



  @for $i from 1 through 4 {
    &__area#{$i} {
      grid-area: area + $i;
    }
  }

  
}

  
.layout-simple {
  display: flex;

}