.page{
    font-family: $main-font;
}

.section-interes{
    background-color: lightgray;
    width:1423px;
    height:884px;


    &__title{
        font-size: $section-title;
        font-weight: 100;
        text-align: center;
    }

    
}

.section-cliente{
    background-color: white;

    
    &__header{
        
    }

    &__body{

    }

    &__footer{
        align-content: center;
    }
}
