.page{
    font-family: $main-font;
}



.section-interes{
    background-color: lightgray;
    padding: 40px;

    &__title{
        font-size: $section-title;
        font-weight: 100;
        text-align: center;
    }

    
}

.section-cliente{
    background-color: white;
    
    &__title{
        font-size: $section-title;
        font-weight: lighter;
        text-align: center;
    }

    &__button{
        color: white;
        background-color: teal;
    }
}
