.grid{
display: grid;

    @for $i from 1 through 4{
    &__area#{$i}{
        grid-area: area+$i;
    }
    }
}
.flex{
    display: flex;
    background-color: white;
    &--horizontal{ flex-direction: row;}
    &--veritcal{ flex-direction: column;}

}

.section{
    

    &__interes{

        
        justify-content: center;
        
        background-color: lightgrey;
        grid-template-areas: "area1 area2 area2"
                             "area1 area3 area4"
                             "area1 area3 area4";
    
    grid-template-rows: 250px 125px 250px;
    grid-template-columns: 288px 300px 300px;
    grid-gap: 25px;
    }
    

}

.panel{

}